@font-face {
  font-family: Nukamiso;
  src: url(nukamiso.ttf);
}

body {
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    margin: 0px;
    margin-top: 4px;
    background: #FEFAEE;
}

#nav {
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
    font-size: 12pt;
}

#question {
    font-size: 80px;
    height: 120px;
}

#score {
    font-weight: bold;
    width: 240px;
}

.keyboard {
    font-family: Nukamiso;
    font-size: 60px;
    width: 715px;
    border-collapse: collapse;
    margin-top: 22px;
}
#romaji_keyboard {
    font-size: 34px;
}

.keyboard td {
    width: 64px;
    height: 89px;
    color: gray;
    padding: 0px;
    border: 1px solid #DDD;
}

.keyboard td:hover {
    color: black;
    cursor: pointer;
    background: #EEE;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrong {
    color: red !important;
}

.correct {
    color: green !important;
}

.btn {
    color: blue;
    text-decoration: underline;
    margin: 12px;
    cursor: pointer;
}
.selected {
    color: purple;
}
